<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @step.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @step.body %>
</p>

<%= link_to 'Edit', edit_list_step_path %> |
<%= link_to 'Back', lists_path %>
